.configuration-controller-main-container {
  background-color: #475569;
  color: white;
  font-family: 'Roboto';
  padding: 10px 50px;
}

.configuration-controller-ul-container {
  padding: 0;
}

.configuration-controller-ul-container li {
  list-style-type: none;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.configuration-controller-ul-container li input {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.configuration-controller-ul-container li label {
  margin-left: 10px;
}
